/*
Design by Free CSS Templates
http://www.freecsstemplates.org 
Released for free under a Creative Commons Attribution 2.5 License

*/

.no-italics {
    font-style: normal;   
}
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img1.gif) repeat-x;
	font: normal small sans-serif;
	color: #878C66;
}

h1, h2, h3, h4, h5, h6 {
	color: #997867;
}

box-m { 
         margin-left: 555px;
         width:500px;
         padding-top:5px;
         border-style:solid;
         border-color:#00FFFFFF;
         border-width:1px;
         padding-left:3px;
         padding-bottom:10px;
         word-wrap: break-word;
}


a {
	text-decoration: none;
	color: #825037;
}

a:hover {
	text-decoration: underline;
}

/* Header */

#header {
	width: 700px;
	height: 140px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	padding: 42px 0 0 0;
}

#logo * {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #878C66;
}

#logo h1 {
	letter-spacing: -2px;
	font-size: 2.8em;
}

#logo h2 {
	margin-top: -5px;
	padding-left: 2px;
	font-size: 1em;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 69px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 22px;
	margin-left: 2px;
	padding: 8px 15px 0 15px;
	background: #EFF0EB url(images/img2.gif) repeat-x;
	border: 1px solid #C9CCB9;
	border-bottom: none;
	text-decoration: none;
	color: #878C66;
}

#menu .active a, #menu a:hover {
	height: 23px;
	background: #EFF0EB;
}

/* Content */

#content {
	width: 700px;
	margin: 0 auto;
}

/* Column One */

#colOne {
	float: right;
	width: 470px;
}

#colOne .post {
	clear: both;
	margin-bottom: 3em;
}

#colOne .title {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #C9CCB9;
	font-size: 1.6em;
}

#colOne .posted, #colOne .meta {
	margin: 0;
	text-align: right;
	font-size: xx-small;
}

#colOne .posted {
	margin-top: -13px;
}

#colOne .meta {
	border-top: 1px solid #C9CCB9;
}

#colOne .meta p {
	margin: 0;
}

/* Column Two */

#colTwo {
	float: left;
	width: 200px;
}

#colTwo #textfield1 {
	width: 170px;
}

#colTwo #submit1 {
	display: none;
}

#colTwo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colTwo li h2 {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#colTwo li h2 span {
	margin: 0;
	padding: 5px 10px;
	background: #F0F0EB url(images/img3.gif) repeat-x;
	border: 1px solid #C9CCB9;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 10px;
}

#colTwo li ul, #colTwo li form {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #C9CCB9;
}
/* Column clear */

#colc {
	float: left;
	width: 200px;
}

#colc #textfield1 {
	width: 170px;
}

#colc #submit1 {
	display: none;
}

#colc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colc li h2 {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#colc li h2 span {
	margin: 0;
	padding: 5px 10px;
	background: #FFFFF url(images/img3.gif) repeat-x;
	border: 1px solid #C9CCB9;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 10px;
}

#colc li ul, #colTwo li form {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #FFFFF;
}


/* Footer */

#footer {
	width: 700px;
	margin: 0 auto;
	padding: 1em;
	border-top: 1px solid #C9CCB9;
}

#footer p {
	font-size: xx-small;
}
